[data-panel-group] {
  display: flex;
  width: 100%;
  height: 100%;
}

[data-panel-group][data-panel-group-direction="horizontal"] {
  flex-direction: row;
}

[data-panel-group][data-panel-group-direction="vertical"] {
  flex-direction: column;
}

[data-panel] {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[data-panel-resize-handle] {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 0.2s;
}

[data-panel-resize-handle]:hover {
  background-color: inherit; /* rgba(255, 255, 255, 0.1); */
}

[data-panel-resize-handle][data-resize-handle-active] {
  background-color: inherit; /* rgba(255, 255, 255, 0.2); */
}
